%h1 All Projects
%table
  %thead
    %tr
      %td Project Name
      %td Total Project Size
  %tbody
    - @projects.each do |project|
      %tr.project-row{:id => "#{dom_id(project)}"}
        %td.name= project.name
        %td.total-size= project.total_size
